<!-- Title Section -->
<section class="title-section">
    <div class="container">
        <!-- crumbs -->
        <div class="row crumbs">
            <div class="col-md-12">
                <a href="index.html">Home</a> / <a href="#">Works </a> / Works 4 Colums
            </div>
        </div>
        <!-- End crumbs -->

        <!-- Title - Search-->
        <div class="row title">
            <!-- Title -->
            <div class="col-md-9">
                <h1>Our Work
                            <span class="subtitle-section">
                                Portfolio
                                <span class="left"></span>
                                <span class="right"></span>
                            </span>
                    <span class="line-title"></span>
                </h1>
            </div>
            <!-- End Title-->

        </div>
        <!-- End Title -Search -->

    </div>
</section>
<!-- End Title Section -->

<!-- Works -->
<section class="paddings">
    <div class="container">

        <!-- Nav Filters -->
        <!--<div class="portfolioFilter">-->
        <!--<a href="#" data-filter="*" class="current">Show All</a>-->
        <!--<a href="#desing" data-filter=".desing">Desing</a>-->
        <!--<a href="#development" data-filter=".development">Development</a>-->
        <!--<a href="#mobile" data-filter=".mobile">Mobile</a>-->
        <!--<a href="#retina" data-filter=".retina">Retina Desing</a>-->
        <!--</div>-->
        <!-- End Nav Filters -->

        <!-- Items Works filters-->
        <div class="works portfolioContainer">

            <!-- Item Work-->
            <div class="col-md-3 desing">
                <div class="item-work">
                    <div class="hover">
                        <img src="img/works/1.jpg" alt=""/>
                        <a href="img/works/1.jpg" class="fancybox" title="Zoom Image">
                            <div class="overlay"></div>
                        </a>
                    </div>
                    <div class="info-work">
                        <h4>Winnipeg Android</h4>

                        <p><a href="http://winnipegandroid.ca" target="_blank">http://winnipegandroid.ca</a></p>

                        <div class="icons-work">
                            <i class="fa fa-android" data-toggle="tooltip" title
                               data-original-title="Android Support"></i>
                            <i class="fa fa-tablet" data-toggle="tooltip" title
                               data-original-title="Responsive Desing"></i>
                            <i class="fa fa-desktop" data-toggle="tooltip" title
                               data-original-title="Retina Display"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Work-->

            <!-- Item Work-->
            <div class="col-md-3 development">
                <div class="item-work">
                    <div class="hover">
                        <img src="img/works/2.jpg" alt=""/>
                        <a href="img/works/2.jpg" class="fancybox" title="Zoom Image">
                            <div class="overlay"></div>
                        </a>
                    </div>
                    <div class="info-work">
                        <h4>The Attachment Network</h4>

                        <p><a href="http://attachmentnetwork.ca" target="_blank">http://attachmentnetwork.ca</a></p>

                        <div class="icons-work">
                            <i class="fa fa-android" data-toggle="tooltip" title
                               data-original-title="Android Support"></i>
                            <i class="fa fa-tablet" data-toggle="tooltip" title
                               data-original-title="Responsive Desing"></i>
                            <i class="fa fa-desktop" data-toggle="tooltip" title
                               data-original-title="Retina Display"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Work-->

            <!-- Item Work-->
            <div class="col-md-3 development">
                <div class="item-work">
                    <div class="hover">
                        <img src="img/works/3.jpg" alt=""/>
                        <a href="img/works/3.jpg" class="fancybox" title="Zoom Image">
                            <div class="overlay"></div>
                        </a>
                    </div>
                    <div class="info-work">
                        <h4>Barb's Crafty Creations</h4>

                        <p><a href="http://barbscraftcreations.com" target="_blank">http://barbscraftcreations.com</a>
                        </p>

                        <div class="icons-work">
                            <i class="fa fa-android" data-toggle="tooltip" title
                               data-original-title="Android Support"></i>
                            <i class="fa fa-tablet" data-toggle="tooltip" title
                               data-original-title="Responsive Desing"></i>
                            <i class="fa fa-desktop" data-toggle="tooltip" title
                               data-original-title="Retina Display"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Work-->

            <!-- Item Work-->
            <div class="col-md-3 development">
                <div class="item-work">
                    <div class="hover">
                        <img src="img/works/4.jpg" alt=""/>
                        <a href="img/works/4.jpg" class="fancybox" title="Zoom Image">
                            <div class="overlay"></div>
                        </a>
                    </div>
                    <div class="info-work">
                        <h4>Sara Wilde Art</h4>

                        <p><a href="http://sarawildeart.com" target="_blank">http://sarawildeart.com</a></p>

                        <div class="icons-work">
                            <i class="fa fa-android" data-toggle="tooltip" title
                               data-original-title="Android Support"></i>
                            <i class="fa fa-tablet" data-toggle="tooltip" title
                               data-original-title="Responsive Desing"></i>
                            <i class="fa fa-desktop" data-toggle="tooltip" title
                               data-original-title="Retina Display"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Work-->


            <!-- Item Work-->
            <div class="col-md-3 desing retina">
                <div class="item-work">
                    <div class="hover">
                        <img src="img/works/5.jpg" alt=""/>
                        <a href="img/works/5.jpg" class="fancybox" title="Zoom Image">
                            <div class="overlay"></div>
                        </a>
                    </div>
                    <div class="info-work">
                        <h4>Bored Code</h4>

                        <p><a href="http://boredcode.com" target="_blank">http://boredcode.com</a></p>

                        <div class="icons-work">
                            <i class="fa fa-android" data-toggle="tooltip" title
                               data-original-title="Android Support"></i>
                            <i class="fa fa-tablet" data-toggle="tooltip" title
                               data-original-title="Responsive Desing"></i>
                            <i class="fa fa-desktop" data-toggle="tooltip" title
                               data-original-title="Retina Display"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Work-->

            <!-- Item Work-->
            <div class="col-md-3 mobile">
                <div class="item-work">
                    <div class="hover">
                        <img src="img/works/6.jpg" alt=""/>
                        <a href="img/works/6.jpg" class="fancybox" title="Zoom Image">
                            <div class="overlay"></div>
                        </a>
                    </div>
                    <div class="info-work">
                        <h4>The DIY Market</h4>

                        <p><a href="http://thediymarket.com" target="_blank">http://thediymarket.com</a></p>

                        <div class="icons-work">
                            <i class="fa fa-android" data-toggle="tooltip" title
                               data-original-title="Android Support"></i>
                            <i class="fa fa-tablet" data-toggle="tooltip" title
                               data-original-title="Responsive Desing"></i>
                            <i class="fa fa-desktop" data-toggle="tooltip" title
                               data-original-title="Retina Display"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Work-->

            <!-- Item Work-->
            <div class="col-md-3 retina">
                <div class="item-work">
                    <div class="hover">
                        <img src="img/works/7.jpg" alt=""/>
                        <a href="img/works/7.jpg" class="fancybox" title="Zoom Image">
                            <div class="overlay"></div>
                        </a>
                    </div>
                    <div class="info-work">
                        <h4>EKM High End Detailing</h4>

                        <p><a href="http://ekmhighenddetailing.com" target="_blank">http://ekmhighenddetailing.com</a>
                        </p>

                        <div class="icons-work">
                            <i class="fa fa-android" data-toggle="tooltip" title
                               data-original-title="Android Support"></i>
                            <i class="fa fa-tablet" data-toggle="tooltip" title
                               data-original-title="Responsive Desing"></i>
                            <i class="fa fa-desktop" data-toggle="tooltip" title
                               data-original-title="Retina Display"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Work-->

            <!-- Item Work-->
            <div class="col-md-3 mobile desing">
                <div class="item-work">
                    <div class="hover">
                        <img src="img/works/8.png" alt=""/>
                        <a href="img/works/8.png" class="fancybox" title="Zoom Image">
                            <div class="overlay"></div>
                        </a>
                    </div>
                    <div class="info-work">
                        <h4>Sovema Canada</h4>

                        <p><a href="http://sovemacanada.ca" target="_blank">http://sovemacanada.ca</a></p>

                        <div class="icons-work">
                            <i class="fa fa-android" data-toggle="tooltip" title
                               data-original-title="Android Support"></i>
                            <i class="fa fa-tablet" data-toggle="tooltip" title
                               data-original-title="Responsive Desing"></i>
                            <i class="fa fa-desktop" data-toggle="tooltip" title
                               data-original-title="Retina Display"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Work-->


            <!-- Item Work-->
            <div class="col-md-3 mobile desing">
                <div class="item-work">
                    <div class="hover">
                        <img src="img/works/9.png" alt=""/>
                        <a href="img/works/9.png" class="fancybox" title="Zoom Image">
                            <div class="overlay"></div>
                        </a>
                    </div>
                    <div class="info-work">
                        <h4>#1 West Sales &amp; Leasing</h4>

                        <p><a href="http://1westsales.com/" target="_blank">http://1westsales.com/</a></p>

                        <div class="icons-work">
                            <i class="fa fa-android" data-toggle="tooltip" title
                               data-original-title="Android Support"></i>
                            <i class="fa fa-tablet" data-toggle="tooltip" title
                               data-original-title="Responsive Desing"></i>
                            <i class="fa fa-desktop" data-toggle="tooltip" title
                               data-original-title="Retina Display"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Work-->

        </div>
        <!-- End Items Works filters-->
    </div>
    <!-- End Container-->
</section>
<!-- End Works-->
