<!-- footer top-->
<footer class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>204 949 8500</h3>
            </div>
            <div class="col-md-3">
                <h3><a href="#/contact/">Support</a></h3>
            </div>
            <div class="col-md-3">
                <h3><a href="mailto:info@bitspacedevelopment.com" target="_blank">info@bitspacedevelopment.com</a></h3>
            </div>
            <div class="col-md-3">
                <h3>639</h3>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Top-->

<!-- footer Center-->
<footer class="footer-center">
    <div class="container">
        <!-- Info Top - Footer Center-->
        <div class="row">
            <div class="col-md-3 item-center">
                <span class="arrow_footer"></span>
                <i class="fa fa-phone"></i>
                <h4>Talk to Us</h4>
            </div>
            <div class="col-md-3 item-center">
                <span class="arrow_footer"></span>
                <i class="fa fa-comment"></i>
                <h4>Contact Support</h4>
            </div>
            <div class="col-md-3 item-center">
                <span class="arrow_footer"></span>
                <i class="fa fa-envelope"></i>
                <h4>Email Us</h4>
            </div>
            <div class="col-md-3 item-center">
                <span class="arrow_footer"></span>
                <i class="fa fa-coffee"></i>
                <h4>Cups of Coffee</h4>
            </div>
        </div>
        <!-- End Info Top - Footer Center-->

        <!-- Divisor Footer-->
        <div class="row">
            <div class="col-md-12">
                <div class="top"></div>
            </div>
        </div>
        <!-- End Divisor Footer-->

        <!-- Info Bottom - Footer Center-->
        <div class="row">
            <!-- Twitter Feed-->
            <div class="col-md-4">
                <div class="border-right">
                    <i class="fa fa-twitter"></i>
                    <h4>Latest Tweet</h4>

                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/BitSpaceDevelop"
                       data-widget-id="612279938415104000">Tweets by @BitSpaceDevelop</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");</script>

                </div>
            </div>
            <!-- End Twitter Feed-->

            <!-- Newsletter-->
            <div class="col-md-3">
                <div class="border-right">
                    <h4>Newsletter</h4>

                    <p>Enter your e-mail and subscribe to our newsletter.</p>

                    <form action="//bitspacedevelopment.us10.list-manage.com/subscribe/post?u=ac8f0a5484c52f604a73cb23e&amp;id=03e848ed8b"
                          method="post" id="newsletterForm" name="mc-embedded-subscribe-form"
                          class="validate" target="_blank" novalidate>
                        <div class="form-group">
                            <input type="email" class="form-control" name="EMAIL" id="exampleInputEmail1"
                                   placeholder="Enter your email address">
                        </div>

                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text"
                                                                               name="b_ac8f0a5484c52f604a73cb23e_03e848ed8b"
                                                                               tabindex="-1" value=""></div>
                        <input type="submit" name="subscribe" value="Get notified!" class="btn btn-primary">
                    </form>


                    <div id="result-newsletter"></div>
                </div>
            </div>
            <!-- End Newsletter-->

            <!-- Recent Links-->
            <div class="col-md-2">
                <div class="border-right">
                    <h4>Resources</h4>
                    <ul class="links">
                        <li><i class="fa fa-check"></i> <a href="#/about/">ABOUT</a></li>
                        <li><i class="fa fa-check"></i> <a href="#/services/">SERVICES</a></li>
                        <li><i class="fa fa-check"></i> <a href="#/work/">WORK</a></li>
                        <li><i class="fa fa-check"></i> <a href="#/press/">PRESS</a></li>
                        <li><i class="fa fa-check"></i> <a href="http://blog.bitspacedevelopment.com" target="_blank">BLOG</a></li>
			<li><i class="fa fa-check"></i> <a href="https://bsdhelp.zendesk.com/hc/" target="_blank">SUPPORT SITE</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Recent Links-->

            <!-- Flickr-->
            <div class="col-md-3">
                <h4>Facebook</h4>

                <div class="fb-page" data-href="https://www.facebook.com/bitspacedevelopment" data-small-header="false"
                     data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"
                     data-show-posts="false">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/bitspacedevelopment"><a
                                href="https://www.facebook.com/bitspacedevelopment">Bit Space Development</a>
                        </blockquote>
                    </div>
                </div>
            </div>
            <!-- End Flickr-->
        </div>
        <!-- Info Bottom - Footer Center-->
    </div>
</footer>
<!-- End footer Center-->

<!-- footer bottom-->
<footer class="footer-bottom">
    <div class="container">
        <div class="row">

            <!-- Nav-->
            <div class="col-md-8">
                <div class="logo-footer">
                    <h2><span>Bit</span> Space Development Ltd<span>.</span></h2>
                </div>

                <!-- coopring-->
                <div class="row coopring">
                    <div class="col-md-8">
                        <p>&copy; 2015 Bit Space Development Ltd . All Rights Reserved. 1995 - 2015</p>
                    </div>
                </div>
                <!-- End coopring-->
            </div>
            <!-- End Nav-->

            <!-- Social-->
            <div class="col-md-4">
                <!-- Menu-->
                <ul class="social">
                    <li data-toggle="tooltip" title data-original-title="Facebook">
                        <a href="https://facebook.com/bitspacedevelopment" target="_blank"><i
                                class="fa fa-facebook"></i></a>
                    </li>
                    <li data-toggle="tooltip" title data-original-title="Facebook">
                        <a href="https://instagram.com/bitspacedevelopment" target="_blank"><i
                                class="fa fa-instagram"></i></a>
                    </li>
                    <li data-toggle="tooltip" title data-original-title="Twitter">
                        <a href="https://twitter.com/bitspacedevelop" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li data-toggle="tooltip" title data-original-title="Google">
                        <a href="https://plus.google.com/+Bitspacedevelopment/posts" target="_blank"><i
                                class="fa fa-google-plus"></i></a>
                    </li>
                    <!--<li data-toggle="tooltip" title data-original-title="Youtube">-->
                    <!--<a href="https://www.linkedin.com/company/9266792" target="_blank"><i class="fa fa-linkedin"></i></a>-->
                    <!--</li>-->
                    <!--<li data-toggle="tooltip" title data-original-title="Youtube">-->
                    <!--<a href="https://www.youtube.com/channel/UCeFJMHj_YpHH4bRtBL3S3Uw" target="_blank"><i class="fa fa-youtube"></i></a>-->
                    <!--</li>-->
                </ul>
                <!-- End Menu-->
            </div>
            <!-- End Social-->


        </div>

    </div>
</footer>
<!-- End footer bottom-->
