<header class="animated fadeInDown delay1">
    <!-- Container-->
    <div class="container">
        <!-- Row-->
        <div class="row">
            <!-- Logo-->
            <div class="col-md-3">
                <div class="logo">
                    <a href="#/" title="Return Home">
                        <img src="img/blue_space_2.png" alt="Logo" class="logo_img">
                    </a>
                </div>
            </div>
            <!-- End Logo-->
            
            <!-- Checkbox to create the Responsive menu -->
            <input type="checkbox" id="control-nav" />
            <label for="control-nav" class="control-nav"></label>
            <label for="control-nav" class="control-nav-close"></label>

            <!-- Nav-->
            <nav class="col-md-9">
                <!-- Menu-->
                <ul id="menu" class="sf-menu l_tinynav1 sf-js-enabled sf-arrows">
                    <li>
                        <a href="#/">HOME</a>
                    </li>
                    <li>
                        <a href="#/about/">ABOUT</a>
                    </li>
                    <li>
                        <a href="#/services/">SERVICES</a>
                    </li>
                    <li>
                        <a href="#/work/">WORK</a>
                    </li>
                    <li>
                        <a href="#/press/">PRESS</a>
                    </li>
                    <li>
                        <a href="#/contact/">CONTACT</a>
                    </li>
                    <li>
                        <a href="http://blog.bitspacedevelopment.com" target="_blank">BLOG</a>
                    </li>
                </ul>
                <!-- End Menu-->
            </nav>
            <!-- End Nav-->
        </div>
        <!-- End Row-->
    </div>
    <!-- End Container-->
</header>